body {background-color: #ebe9dd;}

/* Style the header */
.Header {
    color: #ae1e4c;
    text-align: center;
    font-family: bebas neue, sans-serif;
    font-weight: 10;
    font-size: 60px;
    margin-bottom: 2px;
    }

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #a99679;
  }
.topnav {
    text-align: center;
    letter-spacing: 3px;
}
  
  /* Style the topnav links */
  .topnav a { 
     display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
     text-decoration: none;
     font-family: bebas neue, sans-serif;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ebe9dd;
    color: #ae1e4c;
  }

