body {background-color: #ebe9dd;}

/* Style the header */
.Header {
    color: #ae1e4c;
    text-align: center;
    font-family: bebas neue, sans-serif;
    font-weight: 10;
    font-size: 60px;
    margin-bottom: 2px;
    }

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #a99679;
  }
.topnav {
    text-align: center;
    letter-spacing: 3px;
}
  
  /* Style the topnav links */
  .topnav a { 
     display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
     text-decoration: none;
     font-family: bebas neue, sans-serif;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ebe9dd;
    color: #ae1e4c;
  }

  body, html {
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"bebas neue",sans-serif;
    font-weight:10px;
    line-height:1.8em;
    color:#ae1e4c;
  }
  
  .pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

/*fixed=parallax 
scroll=normal*/
    background-attachment: fixed;
  }
  .pimg1{
    background-image: url(https://taylorpictures.net/albums/photoshoots/2012/red/041.jpg);
    min-height: 100%;
  }

  .pimg2{
    background-image: url(https://taylorpictures.net/albums/photoshoots/2012/red/038.jpg);
    min-height: 400px;
  }

  .pimg3{
    background-image: url(https://taylorpictures.net/albums/photoshoots/2012/red/029.jpg);
    min-height: 400px;
  }
  
  .section{
    text-align: center;
    padding: 50px 80px;
    font-family: "avenir", sans-serif;
  }

  .section-light{
    background-color:#ebe9dd;
    color:#443b46;
    font-family: "avenir", sans-serif;
  }

  .section-dark{
    background-color:#a99679;
    color:#443b46;
    font-family: "avenir", sans-serif;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#f2f2f2;
    font-size:27px;
    letter-spacing:3px;
    text-transform:uppercase;
    font-family: "bebas neue", sans-serif;
  }

  .ptext .border{
    background-color:#443b46;
    color:#f2f2f2;
    padding:20px;
  }

  .ptext .border.trans{
    background-color:transparent;
  }

  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment: scroll;
    }
  }

  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #443b46;
    color: #f2f2f2;
    font-size: 27px;
    font-family: "bebas neue", sans-serif;
    letter-spacing: 3px;
    padding: 20px 60px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    text-align: center;
  }

  .container .btn:hover{
    background-color:#a99679;
  }
