html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top:-4px;
    margin-bottom: 16px;
    padding: 300px 70px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #a99679;
    color: #ae1e4c;
    text-align: center;
    font-size: 36px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .title {
    color: #443b46;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #f2f2f2;
    background-color: #443b46;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .button:hover {
    background-color: #ae1e4c;
  }
