* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #ebe9dd;
    color: #a02b48;
    padding: 20px;
    font-family: "bebas neue",sans-serif;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }

  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 57px;
    margin-top: 450px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(235,233,221, 0.6); /* Black w/opacity/see-through */
    padding: 50px;
  }
  
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 40px;
  }
  
  /* Create three equal columns that floats next to each other if using 33.3 but using 100creates one column */
  .column {
    float: left;
    width: 33.3%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: #ebe9dd;
    padding: 10px;
    width: fit-content;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns but at 100 the layout stays as one column */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  body, html {
    height: 100%;
    margin: 0px;
    font-family: bebas neue, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .blur-bgimage:before {
    content: "";
    position: absolute;
    width : 97%;
    height: 97%;
    background: inherit;
    z-index: -1;
    /* Center and scale the image nicely */
    background-image: URL(https://wallpapercave.com/wp/wp7200663.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter        : blur(10px);
    -moz-filter   : blur(10px);
    -webkit-filter: blur(10px);
    -o-filter     : blur(10px);

    transition        : all 2s linear;
    -moz-transition   : all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition     : all 2s linear;
  }